src/test/resources/paubox-operation-test.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:paubox="http://www.mulesoft.org/schema/mule/paubox"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/paubox http://www.mulesoft.org/schema/mule/paubox/current/mule-paubox.xsd">

	<configuration-properties file="paubox-configuration.properties" />

	<paubox:config name="Paubox_Config" apiURL="${apiurl}"
		apiKey="${apikey}" apiUsername="${apiusername}" />

	<flow name="sendMessageFlow">
		<paubox:send-message config-ref="Paubox_Config">
		</paubox:send-message>
	</flow>

	<flow name="getEmailDispositionFlow">
		<paubox:get-email-disposition config-ref="Paubox_Config"
			sourceTrackingId="#[vars.sourceTrackingId]" />
	</flow>
</mule>